*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

/* contenuti header  */
.flex-container{
    display: flex;
}

nav{
    justify-content: space-around;
    background-color: #0c6bfc;
    align-items: center;
    padding-block: 10px;
    color: white;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-inline: 10px;
}

nav ul li :hover{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;  
    transition: 1s;
    
}

#burger-menu{
    display: none;
}
.white-button{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;

}

/* contenuti main  */
  
/* prima sezione */

.main-row-1,
.main-row-2 {
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.main-col-double img{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.main-row-1 
.main-row-2, h3{
    color:#0c6bfc ;
}
.main-col{
    width: 250px;
    height: 250px;
    background-color:#a7d4ff ;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

.main-col-double{
    width: 515px;
    height: 250px;
    background-color:#a7d4ff ;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    position: relative;
}

.main-col-double div{
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

main i{
   font-size: 65px;
   color:#0c6bfc ;
}
.fa-apple{
    color: white;
    font-size: 20px;
}

.main-row-1 .main-col-double a{
    background-color: #0c6bfc;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}

















/* Media query */
@media screen and (max-width:768px){
    /* header  */
    nav{
        justify-content: space-between;
        padding-inline: 30px;
    }

    nav ul li{
        display: none;
    }

    #burger-menu{
        display: block;
    }

    /* main  */
    .main-col-double{
        flex-direction: column;
        align-items: flex-start;
        width: 415px;
        height: 450px;
    }

    .main-row-1 div img{
        left: 10px;
    }

    .main-col{
        width: 200px;
        height: 450px;
        gap: 25px;
        justify-content: flex-start;
    }

    .main-col-double div{
    gap: 30px;
    width: 250px;
    } 


}

@media screen and (max-width:480px){
    .main-col-double{
        width: 300px;
        height: 450px;
        gap: 20px;
    }

    .main-col-double div{
        align-items: center;
        text-align: center;
    }

    .main-col{
        width: 300px;
        height: 300px;
    }

    .main-row-1{
        flex-direction: column;
        align-items: center;
    }

    .main-row-2{
        flex-direction: column;
        align-items: center;
    }
}