*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior:smooth;
}
a{
    text-decoration: none;
    color: white;
}

/* contenuti header  */
.flex-container{
    display: flex;
}

nav{
    justify-content: space-around;
    background-color: #0c6bfc;
    align-items: center;
    padding-block: 10px;
    color: white;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-inline: 10px;
}

nav ul li :hover{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;  
    transition: 1s;
    
}

#burger-menu{
    display: none;
}
.white-button{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;

}

/* contenuti main  */
  
/* prima sezione */

.main-row-1,
.main-row-2 {
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.main-col-double img{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.main-row-1 h3,
.main-row-2 h3{
    color:#0c6bfc ;
}
.main-col{
    width: 250px;
    height: 250px;
    background-color:#a7d4ff ;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

.main-col-double{
    width: 515px;
    height: 250px;
    background-color:#a7d4ff ;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    position: relative;
}

.main-col-double div{
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.main-row-1 i,
.main-row-2 i{
   font-size: 65px;
   color:#0c6bfc;
}

.main-col-double .fa-apple{
    color: white;
    font-size: 20px;
}

.main-row-1 .main-col-double a{
    background-color: #0c6bfc;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}

/* sezione planning */

.planning{
    justify-content: center;
    margin-block: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color:#9792E4;
    color: white;
    gap: 40px;
    width: 100%;
}

.planning-col-1{
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.planning-col-1 img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.planning-col-2{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: white;
    border-radius: 40px;
    width: 280px;
    height: 400px;
    color: black;
    margin-top: 50px;
}
.planning-col-2 img {
    width: 180px;
    height: 180px;
    padding-top: 20px;
}

.planning-col-2 a i{
    background-color: #837cdf;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: black;  
    font-size: 20px;
}

/* sezione testimonials */

.testimonials{
    align-items: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.testimonials h2{
    color: #9792E4;
}

.card-container .card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card-container{
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}
.card{
    background-color:#9792E4 ;
    border-radius: 30px;
    padding: 30px;
    color: white;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    margin: 0 auto;
}

.testimonials-text{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
}


/* sezione benefits */

#benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#9792E4 ;
    padding-block: 50px;
    color: white;
    gap: 50px;
    justify-content: center;
}
.benefits-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    align-items: flex-start;
    gap: 20px;
    
}

.benefits-card span{
    font-size: 60px;
    color:#9792E4;
}

.benefits-card h4{
    color:#9792E4;
}

.benefits-card a{
    padding: 10px;
    background-color:#9792E4;
    border-radius: 20px;
    padding-inline: 20px;
    
}
.benefits-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

/* sezione about us  */
.about-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    gap: 30px;
    margin-block: 50px;
}

.about-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    line-height:160% ;
}

.about-left h2{
    color:#9792E4 ;
    font-size: 50px;
}
.about-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    color: #9792E4;
    gap: 20px;
    align-items: center;
}

.about-right img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
}
.about-right-img{
    position: relative;
    width: 200px;
    height: 200px;
    align-items: center;
}

.about-right div i{
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 50px;
    color:#9792E4 ;
}

.about-right a{
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #9792E4;
 }



/* sezione get started */
.started{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: #9792E4;  
    color: white;
}

.started span:nth-of-type(2){
    color: #fbb44d;
    font-size: 80px;
    font-weight:bolder;

}

.started > a{
    padding:10px ;
    padding-inline: 20px;
    background-color: white;
    color: #9792E4;
    border-radius: 20px;
}


























/*  *//*  *//*  */
/*  *//*  *//*  */
/* MEDIA QUERY */
/*  *//*  *//*  */
/*  *//*  *//*  */

/* tablet */
@media screen and (max-width:768px){
    /* header  */
    nav{
        justify-content: space-between;
        padding-inline: 30px;
    }

    nav ul li{
        display: none;
    }

    #burger-menu{
        display: block;
    }

    /* main  */

    /* prima sezione */
    .main-col-double{
        flex-direction: column;
        align-items: flex-start;
        width: 415px;
        height: 450px;
    }

    .main-row-1 div img{
        left: 10px;
    }

    .main-col{
        width: 200px;
        height: 450px;
        gap: 25px;
        justify-content: flex-start;
    }

    .main-col-double div{
        gap: 30px;
        width: 250px;
    } 

    /* seconda sezione */
    .planning{
       flex-direction: column;
       align-items: center;
    }
    .planning-col-1{
        width: ;
    }
    .planning-col-1 img{
        width: 500px;
        height: 500px;

    }
    .planning-col-1 h3{
        font-size: 50px;
    }

    .planning-col-2{
        width: 500px;
        height: 600px;
    }
    .planning-col-2 img{
        width: 380px;
        height: 380px;
    }
    .testimonials{
        width: 100%;

    }

    /*  sezione benefits*/
    .benefits-card-container{
        width: 100%; 
        justify-content: center;  
    }

    .benefits-card{
        width: 40%;
        
    }


    /* about us  */
    .about-container{
        width: 100%;
        text-align: center;
        padding-inline: 20px;
    }

    /* sezione started  */
    .started{
        text-align: center;
    }


 
 
    /*  */
/* telefono */
@media screen and (max-width:500px){
    .main-col-double{
        width: 300px;
        height: 450px;
        gap: 20px;
    }
    
    .main-col-double div{
        align-items: center;
        text-align: center;
    }

    .main-col{
        width: 300px;
        height: 300px;
    }

    .main-row-1{
        flex-direction: column;
        align-items: center;
    }

    .main-row-2{
        flex-direction: column;
        align-items: center;
    }

    .testimonials p:first-of-type{
       padding-inline: 20px;
       text-align: center;
    }
    .card{
        gap: 20px;
    }


    /* sezione benefits  */
    .benefits-card{
        width: 80%;
    }

    /* about us  */
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    .about-right{
        align-items: center;
    }

}