*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

/* contenuti header  */
.flex-container{
    display: flex;
}

nav{
    justify-content: space-around;
    background-color: #0c6bfc;
    align-items: center;
    padding-block: 10px;
    color: white;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-inline: 10px;
}

nav ul li :hover{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;  
    transition: 1s;
    
}

#burger-menu{
    display: none;
}
.white-button{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 40px;

}

/* contenuti main  */
  
/* prima sezione */

.main-row-1,
.main-row-2 {
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.main-col-double img{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.main-row-1 h3,
.main-row-2 h3{
    color:#0c6bfc ;
}
.main-col{
    width: 250px;
    height: 250px;
    background-color:#a7d4ff ;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

.main-col-double{
    width: 515px;
    height: 250px;
    background-color:#a7d4ff ;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    position: relative;
}

.main-col-double div{
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.main-row-1 i,
.main-row-2 i{
   font-size: 65px;
   color:#0c6bfc;
}

.main-col-double .fa-apple{
    color: white;
    font-size: 20px;
}

.main-row-1 .main-col-double a{
    background-color: #0c6bfc;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}

/* sezione planning */

.planning{
    justify-content: center;
    margin-block: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color:#837cdf;
    color: white;
    gap: 40px;
    width: 100%;
}

.planning-col-1{
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.planning-col-1 img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.planning-col-2{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: white;
    border-radius: 40px;
    width: 280px;
    height: 400px;
    color: black;
    margin-top: 50px;
}
.planning-col-2 img {
    width: 180px;
    height: 180px;
    padding-top: 20px;
}

.planning-col-2 a i{
    background-color: #837cdf;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: black;  
    font-size: 20px;
}

/* sezione testimonials */

.testimonials{
    align-items: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonials h2{
    color: #847bdd;
}

.card-container .card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card-container{
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}
.card{
    background-color:#847bdd ;
    border-radius: 30px;
    padding: 30px;
    color: white;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    margin: 0 auto;
}

.testimonials-text{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
    
}







/* Media query */
@media screen and (max-width:768px){
    /* header  */
    nav{
        justify-content: space-between;
        padding-inline: 30px;
    }

    nav ul li{
        display: none;
    }

    #burger-menu{
        display: block;
    }

    /* main  */

    /* prima sezione */
    .main-col-double{
        flex-direction: column;
        align-items: flex-start;
        width: 415px;
        height: 450px;
    }

    .main-row-1 div img{
        left: 10px;
    }

    .main-col{
        width: 200px;
        height: 450px;
        gap: 25px;
        justify-content: flex-start;
    }

    .main-col-double div{
    gap: 30px;
    width: 250px;
    } 

     /* seconda sezione */
    .planning{
       flex-direction: column;
       align-items: center;
    }
    .planning-col-1{
        width: 500px;
    }
    .planning-col-1 img{
        width: 500px;
        height: 500px;

    }
    .planning-col-1 h3{
        font-size: 50px;
    }

    .planning-col-2{
        width: 500px;
        height: 600px;
    }
    .planning-col-2 img{
        width: 380px;
        height: 380px;
    }
    .testimonials{
        width: 100%;

    }


}

@media screen and (max-width:500px){
    .main-col-double{
        width: 300px;
        height: 450px;
        gap: 20px;
    }

    .main-col-double div{
        align-items: center;
        text-align: center;
    }

    .main-col{
        width: 300px;
        height: 300px;
    }

    .main-row-1{
        flex-direction: column;
        align-items: center;
    }

    .main-row-2{
        flex-direction: column;
        align-items: center;
    }
}